h1 {
  color: black;
  font-size: 40px;
  font-family: serif;
  text-align: center;
}

h2 {
  color: black;
  font-size: 30px;
  font-family: serif;
}

p {
  color: black;
  font-size: 22px;
  font-family: "Lucida Grande";

}

li {
  color: black;
  font-size: 25px;
  font-family: "Lucida Grande";

}

a {
  color: blue;
  font-size: 25px;
  font-family: serif;

}

.sample1 {
padding:15px; border:3px solid black;
background-color:white;
}

div {
width: 50%;
height: 100px;
background-color: #85b9e9;
}

.box {
width:150px;
height:200px;
}
